:root {
  --theme-mode: 'dark';
  --blur: blur(24px);
  --transition: all 0.25s ease;
  --transition-slow: all 0.5s ease;
  --rlm-font: 'Rubik', sans-serif;
  --rlm-base-color: #25343f;
  --rlm-accent-color: #4e9efd;
  --rlm-input-color: #1a252e;
  --rlm-border-color: rgba(0, 0, 0, 0.2);
  --rlm-window-color: #212d36;
  --rlm-dock-color: #2a384375;
  --rlm-card-color: #2a3843;
  --rlm-theme-mode: dark;
  --rlm-text-color: #ffffff;
  --rlm-icon-color: #a2a8ac;
  --rlm-intent-alert-color: #ff6240;
  --rlm-intent-caution-color: #ffbc32;
  --rlm-intent-success-color: #0fc383;
  --rlm-border-radius-4: 4px;
  --rlm-border-radius-6: 6px;
  --rlm-border-radius-9: 9px;
  --rlm-border-radius-12: 12px;
  --rlm-border-radius-16: 16px;
  --rlm-box-shadow-1: 0px 0px 4px rgba(0, 0, 0, 0.06);
  --rlm-box-shadow-2: 0px 0px 9px rgba(0, 0, 0, 0.12);
  --rlm-box-shadow-3: 0px 0px 9px rgba(0, 0, 0, 0.18);
  --rlm-box-shadow-lifted: 0px 0px 9px rgba(0, 0, 0, 0.24);
  --rlm-overlay-hover: rgba(0, 0, 0, 0.05);
  --rlm-overlay-active: rgba(0, 0, 0, 0.09);
}

html {
  background: var(--rlm-window-color);
  caret-color: var(--rlm-accent-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rlm-font);
}

.wallpaper {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: var(--transition-slow);
  background-image: url('https://images.unsplash.com/photo-1672821337870-2180f5223865?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4032&q=80');
}
