@import url('https://fonts.googleapis.com/css2?family=Rubik:ital, wght@0, 400;0, 500;0, 600;0, 700;0, 800;0, 900;1, 400;1, 500;1, 600;1, 700;1, 800;1, 900&display=swap');

:root {
  --theme-mode: 'light';
  --blur: blur(24px);
  --transition: all 0.25s ease;
  --transition-slow: all 0.5s ease;
  --rlm-font: 'Rubik', sans-serif;
  --rlm-border-radius-4: 4px;
  --rlm-border-radius-6: 6px;
  --rlm-border-radius-9: 9px;
  --rlm-border-radius-12: 12px;
  --rlm-border-radius-12: 16px;
  --rlm-box-shadow-1: 0px 0px 4px rgba(0, 0, 0, 0.06);
  --rlm-box-shadow-2: 0px 0px 9px rgba(0, 0, 0, 0.12);
  --rlm-box-shadow-3: 0px 0px 9px rgba(0, 0, 0, 0.18);
  --rlm-box-shadow-lifted: 0px 0px 9px rgba(0, 0, 0, 0.24);

  --rlm-base-rgba: 196, 195, 191;
  --rlm-accent-rgba: 78, 158, 253;
  --rlm-input-rgba: 255, 255, 255;
  --rlm-border-rgba: 221, 221, 218;
  --rlm-window-rgba: 245, 245, 244;
  --rlm-window-bg-rgba: 245, 245, 244, 0.9;
  --rlm-dock-rgba: 245, 245, 244, 0.45;
  --rlm-card-rgba: 245, 245, 244;
  --rlm-text-rgba: 42, 41, 39;
  --rlm-icon-rgba: 51, 51, 51;
  --rlm-mouse-rgba: 0, 0, 0;
  --rlm-brand-rgba: 240, 135, 53;
  --rlm-intent-alert-rgba: 255, 98, 64;
  --rlm-intent-caution-rgba: 255, 188, 50;
  --rlm-intent-success-rgba: 15, 195, 131;
  --rlm-overlay-hover-rgba: 0, 0, 0, 0.05;
  --rlm-overlay-active-rgba: 0, 0, 0, 0.09;
}

html {
  background: rgba(var(--rlm-window-hex-rgba));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rlm-font);
}

.wallpaper {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: var(--transition-slow);
  background-image: url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4032&q=80');
}
