<!DOCTYPE html>
<html>

<head>
  <base href="./" />
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy" content="
      connect-src 'self' https://*.stripe.com https://*.sentry.io https://*.amplitude.com ws://localhost:3001 ws://localhost:3030 http://localhost:8545 https://*.plymouth.network https://*.third.earth https://api.unsplash.com https://join.holium.com https://api.holium.live https://socket.holium.live wss://socket.holium.live wss://*.holium.live http://localhost:3000;
      frame-src 'self' https://*.stripe.com https://www.youtube.com https://open.spotify.com https://open.spotifycdn.com https://platform.twitter.com https://w.soundcloud.com;
      script-src 'self' https://*.stripe.com https://www.youtube.com https://open.spotify.com https://open.spotifycdn.com https://platform.twitter.com;
      script-src-elem 'self' https://*.stripe.com https://www.youtube.com https://open.spotify.com https://open.spotifycdn.com https://platform.twitter.com https://w.soundcloud.com;
      " />
  <meta http-equiv="Permissions-Policy" content="web-share=*" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="root"></div>
</body>

</html>