<!DOCTYPE html>
<html>
  <head>
    <base href="./" />
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';
        connect-src 'self' ws://localhost:3001 http://localhost:8545;
        script-src 'self';
        style-src fonts.googleapis.com 'unsafe-inline';
        font-src fonts.googleapis.com fonts.gstatic.com;
        "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
    <title>Realm Update Progress</title>
  </head>
  <body style="font-family: 'Rubik', 'Droid Sans', Arial">
    <div id="root" style="margin: 0; width: 100%; height: calc(100vh)"></div>
  </body>
</html>
